<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Z-Profile Site Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    <link href="{{ url_for('static', filename='css/fontawesome.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/brands.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/solid.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/regular.min.css') }}" rel="stylesheet" />
    <script defer data-domain="wraggelabs.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title is-1 has-text-weight-light">
            Z-Profile Site Builder
          </h1>
          <p class="is-size-4 mb-2">This app builds a static site from a Zotero collection.</p>
          <p class="is-size-4 mb-6">See the <a href="https://wraggelabs.com/z-profile-docs/">Z-Profile documentation</a> to find out how to prepare your Zotero library.</p>
          {% if session.authorised %}
            <div id="success" class="notification is-success">You're already authorised to access Zotero.</div>
            <p><a href="{{url_for("start_build")}}" class="button is-link is-large">Build your site</a></p>
          {% else %}
            <p><a href="{{url_for("oauth_login")}}" class="button is-link is-large">Login to Zotero</a></p>
          {% endif %}
        </div>
      </div>
    </div>

  </section>
  <footer class="footer">
    <div class="container">
    <div class="columns">
        <div class="column is-one-quarter is-offset-one-quarter content">
          <p><a href="https://wraggelabs.com/z-profile-docs/">Read the documentation</a></p>
          <p><a href="https://github.com/wragge/z-profile/discussions">Ask a question</a></p>
        </div>
        <div class="column is-one-quarter content">
          <p>Created by <a href="https://timsherratt.au">Tim Sherratt</a> in 2026.</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>