<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Z-Profile Site Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    <link href="{{ url_for('static', filename='css/fontawesome.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/brands.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/solid.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/regular.min.css') }}" rel="stylesheet" />
    <script defer data-domain="wraggelabs.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title is-1 has-text-weight-light">
            Z-Profile Site Builder
          </h1>
          <form action="/build"  method="POST">
          <div class="field">
            <label class="label">Zotero User ID</label>
            <div class="control">
              <input class="input" name="zotero_id" type="password" value="3041">
            </div>
          </div>

          <div class="field">
            <label class="label">Zotero API key</label>
            <div class="control">
              <input class="input" name="zotero_key" type="password" value="9vs0e2Q96htIlBpuP6cUTcmR">
            </div>
          </div>
          <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  </section>
  </body>
</html>